
body {
	font-family: Sans-Serif, Verdana;
}

/* top page heading */

h1 {
	text-align: center;
}



/* different paragraph styles */

p.errormessage {
	font-size: large
}

p.instruction {
}

p.helpnote {
}

p.bigbold {
	font-size: medium;
	font-weight: bold;
}

p.spacer {
	font-size: small;
	padding: 0pt;
	line-height: 0%;
	font-size: 10%
}

span.hit {
	color: red;
	font-weight: bold
}

span.contexthighlight {
	font-weight: bold
}

span.concord-time-report {
	color: gray;
	font-size: 10pt;
	font-weight: normal
}


/* table layout */


table.controlbox {
	border: large outset
}

td.controlbox {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border: medium outset
}




table.concordtable {
	/* border-style: solid; */
	/* border-color: #ffffff; */
	/* border-width: 5pxi */

    border-collapse: collapse;
    border-spacing: 0;
}

th:first-child {
    border-radius: 6px 0 0 6px;
}

th:last-child {
    border-radius: 0 6px 6px 0;
}

th:only-child {
    border-radius: 6px;
}


th.concordtable {
	padding: 5px 3px;
	font-weight: bold;

    background: #1e5799;
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );

    color: white;
}

th.concordtable a{
    color: white;
    text-decoration: none;
}

td.concordgeneral {
	padding: 5px 3px;
	background-color: #d5dff9;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px
}

td.concordgrey {
	padding: 5px 3px;
	background-color: #eee;
	border-style: solid;
	border-color: #ddd;
	border-width: 1px;
}


td.concorderror {
	padding: 5px 3px;
	background-color: #ffeeaa;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px
}



td.before {
	padding: 3px;
	/* background-color: #d5dff9; */
	border-style: solid;
	border-color: #ffffff;

    border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-right-width: 0px;
	text-align: right
}

td.after {
	padding: 3px;
	/* background-color: #d5dff9; */
	border-style: solid;
	border-color: #ffffff;

	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 2px;
	text-align: left
}

td.node {
	padding: 3px;
	background-color: #f0f0f0;
	border-style: solid;
	border-color: #ffffff;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-right-width: 0px;
	text-align: center
}

td.lineview {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #d5dff9;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px
}

td.text_id {
	padding: 3px;
	background-color: #d5dff9;;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	text-align: center

    font-family: monospace;
    font-size: smaller;
}

td.end_bar {
	padding: 3px;
	background-color: #d5d5d5;
	font-family: verdana;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	text-align: center
}


td.basicbox {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #d5dff9;
	font-family: verdana;
	font-size: 10pt;
}


td.cqpweb_copynote {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #ffffff;
	font-family: verdana;
	font-size: 8pt;
	color: gray;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px
}

td.menu-item {
    padding: 3px;
}

div#loadingnoJS {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 10px 10px;
    background: white;
    opacity: 0.8;
    border-bottom: solid 1px #777;
    box-shadow: 2px 2px 3px #777;
    text-align: center;
    cursor: n-resize;
}

div.menu {
    width: 200px;
}

input[type=submit], input[type=reset], input[type=button] {
    padding: 3px 3px;
    border-radius: 6px;
    border: solid 1px #777;
    box-shadow: 1px 1px 2px #777;

    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee));
    background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
}

textarea, input[type=text] {
    padding: 3px 3px;
    border-radius: 6px;
    border: solid 1px #777;

    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top, #eeeeee 0%,#ffffff 100%);
    background: -o-linear-gradient(top, #eeeeee 0%,#ffffff 100%);
    background: -ms-linear-gradient(top, #eeeeee 0%,#ffffff 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 );
}

textarea#queryField {
    margin: 0 auto;
    min-height: 10em;
    width: 95%;
    font-family: monospace;
    padding: 5px;
    font-size: large;
}

div#showMenu {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0px 5px;
    cursor: ew-resize;

    background: white;
    border-radius: 0 0 6px 0;
    opacity: 0.8;
    font-size: 12pt;
    text-decoration: none;
    border-bottom: solid 1px #333;
    border-right: solid 1px #333;
    box-shadow: 2px 2px 3px #333;
}

/* different types of link */

a {
    color: black;
}


/* first, for left-navigation in the main query screen */
a.menuItem {
    display: block;
	white-space: nowrap;
	font-family: verdana;
	color: black;
	font-size: 10pt;
	text-decoration: none;
}
a.menuItem:visited {
	white-space: nowrap;
	font-family: verdana;
	color: black;
	font-size: 10pt;
	text-decoration: none;
}
a.menuItem:hover {
	white-space: nowrap;
	font-family: verdana;
	color: red;
	font-size: 10pt;
	text-decoration: underline;
}

.selected {
    border: solid 1px #ddd;
    border-radius: 6px;
    background: #eee;
}

/* next, for the currently selected menu item
 * will not usually have an href
 * ergo, no visited/hover */
a.menuCurrentItem {
	white-space: nowrap;
	font-family: verdana;
	color: black;
	font-size: 10pt;
	text-decoration: none;
}


/* next, for menu bar header text item
 * will not usually have an href
 * ergo, no visited/hover
a.menuHeaderItem {
	white-space: nowrap;
	font-family: verdana;
	color: black;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;

}*/

/* here, for footer link to help */
a.cqpweb_copynote_link:link {
	color: gray;
	text-decoration: none;
}
a.cqpweb_copynote_link:visited {
	color: gray;
	text-decoration: none;
}
a.cqpweb_copynote_link:hover {
	color: red;
	text-decoration: underline;
}






/* ---------------------------------- */

#footer {
    border-top: solid 1px #ddd;
    margin: 0 auto;
}

.footer-item {
    display: inline-block;
    padding: 1em;
    width: 29%;
    text-align: center;
}



/* ---------------------------------- */

.float-right {
    float: right;
}


.float-left {
    float: left;
}

